{% extends "base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ Customer }}</h1>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class='container'>
<!-- Details of the customer -->
<h2>Customer Details</h2>
<p><strong>Mobile number: </strong> {{ Customer.mob_number }}</p>
<p><strong>Region: </strong> {{ Customer.region_name }}</p>

<h2>Current Products and Warranties</h2>
<div class='row'>
  <div class="col-md-8">
    <table class="table table-hover">
	  <!-- Display their current products, and for each product it's warranty -->
	  <thead>
        <tr>
            <th>Model</th>
            <th>Serial Number</th>
            <th>Import Date</th>
            <th>Warranty ID</th>
            <th>Reg_date</th>
            <th>Exp_date</th>
        </tr>
      </thead>
      
      <tbody>
	  {% for product in Products %}
	  <tr>
        <td>{{ product.model.long_name }}</td>
        <td>{{ product.ser_num }}</td>
        <td>{{ product.imp_date }}</td>
        <td>{{ product.warranty.wid }}</td>
        <td>{{ product.warranty.reg_date }}</td>
        <td>{{ product.warranty.exp_date }}</td>
      </tr>
	{% endfor %}
	</tbody>
	</table>
	
	<!-- Previous message table -->
	<h2>Message History</h2>
	<table class="table table-striped">
	  <thead>
	    <tr><th>Received</th><th>Message</th></tr>
	  </thead>
	  <tbody>
	  {% for message in Customer.message_set.all %}
	    <tr>
	      <td>{{ message.date_received }}</td>
	      <td>{{ message.msg_text }}</td>
	    </tr>
	  {% empty %}
	    <tr> No messages yet </tr>
	  {% endfor %}
	  </tbody>
	</table>
  </div>
</div>

<div class="col-md-12">
  <a href="{% url "manager-home" %}">back to search</a>
</div>
</div>
{% endblock %}