{% extends "base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Service center</h1>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h2>Search</h2>
    </div>
    <div class="col-md-8">
      <h2>Results</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form action="{{ action }}" method="get">
        <div class="form-group">
          <label for="serialNumber">Serial number</label>
          <input type="text" class="form-control" id="ser_num" name="ser_num" placeholder="Serial number">
        </div>
        <div class="form-group">
          <label for="customerFName">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="customerSName">Surname</label>
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Surname">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-md-8">
      <table class="table table-hover">
        <!-- <caption>Optional table caption.</caption> -->
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Model Number</th>
            <th>Serial Number</th>
            <th>Warranty Reg</th>
            <th>Warranty Expires</th>
            <!-- <th>Product</th> -->
          </tr>
        </thead>
        <tbody>
		<!-- Add the looped results here -->
        {% for result in Results %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
			<td>
			  <a href="{% url "individual-customer-page" cust_id=result.warranty.customer.pk %}">
				{{ result.warranty.customer.whole_name }}
			  </a>
			</td>
            <td>{{ result.model.model }}</td>
            <td>{{ result.ser_num }}</td>
            <td>{{ result.warranty.reg_date }}</td>
            <td>{{ result.warranty.exp_date }}</td>
            <td></td>
        {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="spacer"></div>

  <!-- <a class="btn btn-default" href="#" role="button">View details &raquo;</a> -->

  {% endblock %}
