{% extends "base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ Customer.whole_name }}</h1>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class='row'>
  <div class="col-md-8">
    <table class="table table-hover">
	  <!-- Display their current products, and for each product it's warranty -->
	  <thead>
        <tr><th>&nbsp;</th>
            <th>Model</th>
            <th>Serial Number</th>
            <th>Import Date</th>
        </tr>
      </thead>
      
      <tbody>
	  {% for product in Products %}
	  <tr data-toggle="collapse" data-target="#target{{forloop.counter}}" class="accordion-toggle">
        <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
        <td>{{ product.model.model }}</td>
        <td>{{ product.ser_num }}</td>
        <td>{{ product.imp_date }}</td>
      </tr>
	  <!-- The hidden content -->
	  <tr>
        <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="target{{forloop.counter}}"> 
          <table class="table table-striped">
            <thead>
              <tr><th>Warranty ID</th><th>Reg_date</th><th>Exp_date</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ product.warranty.wid }}</td>
                <td>{{ product.warranty.reg_date }}</td>
                <td>{{ product.warranty.exp_date }}</td>
              </tr>
           </tbody>
         </table>
       </div> </td>
     </tr>
	{% endfor %}
	</tbody>
	</table>
  </div>
</div>

<div class="col-md-8">
  <a href="{% url "manager-home" %}">back to search</a>
</div>
{% endblock %}